<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('../partials/_navbar.ejs') %>

    <h1>Add your recipe</h1>

    <form action="/users/<%=user._id%>/foods" method="POST">

        <label for="name">name:</label>
        <input type="text" name="name" id="name" />
        <label for="instructions">instructions:</label>
        <input type="text" name="instructions" id="instructions" />
        <label for="owner">owner:</label>
        <input type="text" name="owner" id="owner"/>
        <label for="ingredients">ingredients:</label>
        <input type="text" name="ingredients" id="ingredients" />
        <button type="submit">Add recipe</button>

      </form>
</body>
</html>